.footer {
  margin-top: 5rem;
  border-top: 1px solid #cfcfcf;
}

.centrado {
  margin: 0 auto;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navegacion {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.navegacion a {
  color: var(--black);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.75rem;
  transition-property: background-color;
  transition-duration: 300ms;
}

@media (min-width: 768px) {
  .navegacion a {
    font-size: 1.25rem;
  }
}

.descripcion {
  color: #828282;
  font-size: 1.25rem;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  
}

.descripcion a {
  text-decoration: none;
  color: var(--primary);
}

@media (min-width:768px) {
  .descripcion {
    width: 100%;
  }
}